<div>
    <form #searchForm="ngForm">
        <div *ngIf="searchMode === 'cruise'; else showSearchPort">
            <div class="row">
                <div class="col-md-4">
                    
                    <select class="form-select form-select" aria-label=".form-select-sm example" [(ngModel)]="selectedShipCompany" name="shipCompanyCtrl" id="shipCompanyCtrl" (change)="getShipLists(selectedShipCompany, searchForm)" style="color: #7B7E84;">
                        <option [selected]="true" disabled [ngValue]="undefined">Select Cruise Line</option>
                        <option *ngFor="let cruise of cruiseLines" [ngValue]="cruise">{{cruise.shipCompanyName}}</option>
                    </select>
                    
                </div>
                <div class="col-md-4">
                    
                    <select class="form-select form-select" aria-label=".form-select-sm example" [(ngModel)]="selectedShip" #shipCtrl="ngModel" name="shipCtrl" id="shipCtrl"  style="color: #7B7E84;" (change)="getShipItineraryDatesList(selectedShipCompany,selectedShip)">
                        <option [selected]="true"  disabled [ngValue]="undefined">Select Cruise Ship</option>
                        <option *ngFor="let ship of shipLists" [ngValue]="ship">{{ship.shipName}}</option>
                    </select>
                </div>
                <div class="col-md-4" style="padding-right: 5px;">
                    <select class="form-select form-select" [(ngModel)]="selectedItineraryDate" name="shipItineraryDatesCtrl" #shipItineraryDatesCtrl="ngModel" style="color: #7B7E84;" (change)="getShipItineraryDates(selectedShipCompany, selectedShip)">
                        <option  [selected]="true" disabled [ngValue]="undefined">Select Dates</option>
                        <option *ngFor="let itineraryDate of shipItineraryDates" [ngValue]="itineraryDate">{{itineraryDate.cruiseStartsInString}}</option>
                    </select>
                    
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12 text-end">
                    <span style="font-size: 10px; color: #2A2D32; cursor: pointer" class="text-end"><a href="javascript:void(0)" (click)="toggleSearch('cruise')"><i class="fad fa-ship"></i>Not on a Cruise? Search Port</a></span>
                </div>
            </div>
        </div>
        <ng-template #showSearchPort>
            <div class="row">
                <div class="col-md-6">
                    <select class="form-select form-select" aria-label=".form-select-sm example" [(ngModel)]="selectedRegion" name="regionCtrl" id="regionCtrl" (change)="getPortsList(selectedRegion)"  style="color: #7B7E84;">
                        <option [selected]="true" disabled [ngValue]="undefined">Select Region</option>
                        <option *ngFor="let region of regions" [ngValue]="region">{{region.text}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="form-select form-select" aria-label=".form-select-sm example" [(ngModel)]="selectedPort" name="portCtrl" id="portCtrl" (change)="getAvailableDatesByPort(selectedPort)" style="color: #7B7E84;">
                        <option [selected]="true" disabled [ngValue]="undefined">Select Port</option>
                        <option *ngFor="let port of ports" [ngValue]="port">{{port.text}}</option>
                    </select>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12 text-end">
                    <span style="font-size: 10px; color: #2A2D32; cursor: pointer" class="text-end"><a href="javascript:void(0)" (click)="toggleSearch('port')">On a cruise? Search Port</a></span>
                </div>
            </div>    
            <div class="row"> 
                <div class="col-md-6">
                    <mat-form-field appearance="outline"> 
                        <input matInput #input name="inputDatePick" [matDatepicker]="picker"  [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)" placeholder="Select Date"> 
                        <mat-datepicker-toggle   matSuffix [for]="picker"></mat-datepicker-toggle> 
                        <mat-datepicker #picker [dateClass]="dateClass"></mat-datepicker> 
                     </mat-form-field> 
                </div>
            </div>
            
        </ng-template>

        <!--
        <div class="row" style="padding:10px 0 0 20px;"> 
            <div class="col-md-6">
                <mat-card>
                    <mat-calendar #excursionDtCalendar [dateClass]="dateClass"  [selected]="selectedDate" name="excursionDtCalendar" (selectedChange)="onSelect($event)"></mat-calendar>
                </mat-card>
            </div>
        </div>
        -->    

        <!--     
        <p-calendar [readonlyInput]="true" selectionMode="multiple" [(ngModel)]="value"  name="value" hourFormat="24" [inline]=true>

        <ng-template pTemplate="table">

        </ng-template>

        <ng-template pTemplate="date" let-date>
            
        <span
            [ngStyle]="{backgroundColor: getMarkedDays(date) ? '#7cc67c' : 'inherit'}"  style="border-radius:100%">
            {{date.day}}
        </span>

        </ng-template>
        </p-calendar>
        -->
    </form>
 </div>
 
